/*navbar*/
.header{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 10px 18px;
  background-color: rgb(144, 223, 223);
  column-gap: 10px;
  
  
}
/* ul{
  gap: 50px;
} */
.header1{
  gap: 40px;
  display: flex;
  padding: 20px;
  margin-left: 10%;
  
  
}
.header1 a{
  text-decoration: none;
  color: black;
}
.header-middle{
  display: flex;
  justify-content: center;
}
.header-button-image{
  display: flex;
  justify-content: space-between;
}
.button{
  padding: 18px 0px;
}
.button-tag{
  background-color: sienna;
  border-radius: 10px;
  padding: 10px;
}
.header-image{
  padding: 5px;
 
}
.header-image img{
  width: 80px;
}
/*navbar end */

/* baner start */

.baner{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSt7s2tMAZCfn0gqwVSoDTq0s1PWEucHTZ-g&s');
  background-size: cover;
  background-position: center;
  height: 700px;
}
.baner-content-1{
  position: absolute;
  top: 40%;
  left: 10%;
  font-style: italic;
   line-height: 2.0;
}
.baner-content-2{
  font-style:normal
}
.baner-content-3{
  position: absolute;
  top: 70%;
  left: 10%;
  width: 25%;
}
.baner-button{
  background-color: saddlebrown;
  padding: 15px;
  border-radius: 5px;
  position: absolute;
  top: 80%;
  left: 10%;
}

.content{
  padding: 30px 70px;
 background-color: rgb(243, 204, 154);
}

.content-1{
  display: flex;
  margin-left: 25%;
  position: static;
}

.contentp{
  font-size: 25px;
}
.content-2{
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.contentp-1{
  font-size: 40px;
  line-height: 1.5; 
  width: 60%;
  margin-top: 10%;
  margin-right: 20%;
}
.contenti{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 30px;
   padding: 20px 0px;
}
.contenti img{
  margin-left: 30%;
}

.Building{
  background-color: beige;
  padding: 10px;
}
.builder-1{
  display: flex;
  padding: 0px 20%;
  margin-left: 10%;
}
.builder-1p{
  font-size: 20px;
}
.builder-2{
  padding: 0px 20%;
   width:40%;
   margin-left: 10%;
}
.builder-2 p{
  font-size: 30px;
}
.builder-3{
  display: grid;
  grid-template-columns:repeat(2,1fr) ;
   column-gap: 30px;
   align-items: center;
}
.builderimg{
  margin-left: 30%;
  
}
.builderimg img{
  width: 90%;
}
.builderimg2{
  margin-left: 20%;

}
.builderimg2 img{
  width: 80%;
}
.builder-4{
  display: grid;
  grid-template-columns: repeat(4,1fr);
   padding: 20px 20px;
}
.builder-4h{
  margin-left: 10%;
  font-style: italic;
  font-size: 38px;
  
  margin-left: 20%;
}

.builder-5 p{
  width: 60%;
  line-height: 1.5;
  margin-left: 20%;
}
.builder-6 ul{
  list-style-type: none;
   line-height: 2.0;
   margin-left: 20%;
}
.builder-7{
  display: grid;
  grid-template-rows: repeat();
   row-gap: 10px;
   height: 20%;
   width: 60%;
}
.builder-7 button{
  background-color: plum;
  border-radius: 10px;
  padding: 0px; 
  cursor: pointer;
   margin-left: 20%;
}
.Building1{
  background-color: cadetblue;
}
.building2{
  background-color: rgb(231, 181, 231);
}
.builder-8{
  padding: 20px 30px;
  background-color:beige ;
}
.builder-8 img{
  margin-left: 10%;
  width: 20%;
}
.builder-8img{
  margin-left: 60%;
  width: 90%;
}
.builder-8 p{
  font-size: 40px;
   margin-left: 30%;
}
.builder-8p{
  font-style: italic;
}
.Location{
  background-color: burlywood; 
  padding: 10px 30px;
}
.Location p{
  display: flex;
  justify-content: center;
}
.location1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.location1 h1{
  font-style: italic
  ;font-size: 40px;
   margin-left: 30%;
}
.location1 p{
   margin-left: 30%;
}
.locationimg{
  margin-left: 20%;
  
}
.locationimg img{
  width: 60%;
}
.location2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.location2 img{
  margin-left: 30%;
  width: 60%;
}
.location2 h6{
  font-size: 20px;
   margin-left: 30%;
}
.location2 h3{
  margin-left: 30%; font-size: 40px;
}
.location2p{
  font-weight: bold;
  width: 50%;
  margin-left: 30%;
 line-height: 1.5;
}
.location2 p{
  width: 55%;
   margin-left: 30%;
   line-height: 2.0;
}

.Amenities{
  background-color: beige;
  padding: 20px 0px;
}
.Amenities p{
  margin-left: 20%;
}
.Amenities h1{
  margin-left: 20%; 
  width: 38%;
}
.ameni{
  font-style: italic;
  font-size: 40px;
}
.amenities1{
  display: grid;
  grid-template-columns: repeat(5,2fr); 
  column-gap: 10px; 
  padding: 50px 30px;
}
.amenities1 img{
  border-radius: 10px; 
  margin-left: 5%;
}
.amenities2{
  background-color: rgb(197, 156, 102); 
  padding: 20px 0px ; 
  padding: 20%;
 position: relative;
}
.amenities2s{
  font-size: 45px;
  margin-left: 20%;
}
.amenities2 p{
  margin-left:10% ;
  width: 50%; 
  line-height:2.0;
  padding: 10%;
}
.amenities2 button{
  background-color: rgb(199, 91, 71);
  padding: 10px;
  width: 110px;
  border-radius: 10px;
  margin-left: 40%;
}
.amenitiesimg{
  position: absolute;
  top: 40%;
  left: 10%;
}
.footer{
  background-color: saddlebrown;
   padding-bottom: 20%;
   padding: 20px 0px;
}
.footer h1{
  margin-left: 43%;
}
.footer1{
  font-size: 40px;
}
.footer p{
  width: 30%;
   margin-left: 37%;
   line-height: 2.0;
}
.footer-form{
  display: grid;
  grid-template-columns: repeat(3,3fr);
}
.footer-form1{
  padding: 30px;
  margin-left: 30%;
}
.footer-form1 label{
  display: block;
   padding: 10px;
}
.footer-form2{
  padding: 30px;
  margin-left: 20%;
}
.footer-form2 label{
  display: block;
  padding: 10px;
}
.footer-form3{
  padding: 30px;
  margin-left: 10%;
}
.footer-form3 label{
  display: block;
  padding: 10px;
}
.submit{
  background-color: rgb(201, 144, 144); 
  margin-left: 33%;
  width: 30%;
  border-radius: 10px;
  padding: 10px;
}
.footer-form4{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 40px 50px;
   margin-left: 10%;
   
}
.footer-form4 a{
  color: black;
}
@media (max-width: 768px) {
  .header1{
    display: flow;
  }
      .baner {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSt7s2tMAZCfn0gqwVSoDTq0s1PWEucHTZ-g&s);
        background-size: cover;
        background-position: center;
        height: 232px;
        width: 468px;
    }
    .header-image img {
    width: 0px;
}
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 18px;
    background-color: rgb(144, 223, 223);
    column-gap: 10px;
}
.button-tag {
    background-color: sienna;
    border-radius: 18px;
    padding: 3px;
}
.header-image {
    padding: 5px;
    width: 59px;
    margin-top: 10px;
}
.baner-content-1 {
    position: absolute;
    top: 43%;
    left: 10%;
    font-style: italic;
    line-height: 2.0;
    font-size: 15px;
}
.baner-content-3 {
    position: absolute;
    top: 49%;
    left: 41%;
    width: 25%;
    font-size: 10px;
}
.baner-button {
    background-color: saddlebrown;
    padding: 6px;
    border-radius: 3px;
    position: absolute;
    top: 73%;
    left: 27%;
    font-size: 10px;
}
.contentp {
    font-size: 12px;
    margin-left: -19px;
}
.contentp-1 {
    font-size: 7px;
    line-height: 1.5;
    width: 97%;
    margin-top: 10%;
    margin-right: -7%;
}
.contenti img {
    margin-left: 0%;
    width: 111px;
}
.builder-1p {
    font-size: 14px;
}
.builder-2 p {
    font-size: 10px;
}
.builder-3 {
    display: block;
}
.builderimg img {
    width: 90%;
    margin-left: -32px;
}
.builder-4 {
    display: block;    
}
.builder-4h{
  margin-left: 10%;
  font-style: italic;
  font-size: 25px;
  
  margin-left: 20%;
}
.builder-5 p {
    width: 76%;
    line-height: 1.5;
    margin-left: 20%;
}
.builder-7 {
    display: grid;
    
    row-gap: 10px;
    height: 44%;
    width: 60%;
    margin-left: 39px;
}
.builder-8 p {
    font-size: 11px;
    margin-left: 14%;
}
.builder-8 img {
    margin-left: 10%;
    width: 28%;
}
.location1 h1 {
    font-style: italic;
    font-size: 21px;
    margin-left: 30%;
}
.Location p {
    display: flex;
    justify-content: center;
    font-size: 8px;
}
.location2 {
    display: block;
    
}
.location2 img {
    margin-left: 14%;
    width: 73%;
}
.location2 h6 {
    font-size: 12px;
    margin-left: 35%;
}
.location2 h3 {
    margin-left: 28%;
    font-size: 20px;
}
.location2 p {
    width: 55%;
    margin-left: 24%;
    line-height: 2.0;
}
.Amenities p {
    margin-left: 15%;
}
.ameni {
    font-style: italic;
    font-size: 22px;
    margin-left: 10px;
}
.amenities1 {
    display: block;
    padding: 50px 30px;
}
.amenities1 img {
    border-radius: 10px;
    width: -webkit-fill-available;
}
.amenities2s {
    font-size: 13px;
    margin-left: 8%;
}
.amenitiesimg img{
  width: 0px;
}
.amenities2 p {
    margin-left: -3%;
    width: 86%;
    line-height: 2.0;
    padding: 10%;
}
.amenities2 button {
    background-color: rgb(199, 91, 71);
    padding: 7px;
    width: 110px;
    border-radius: 18px;
    margin-left: 17%;
}
.footer1 {
    font-size: 20px;
    margin-left: -36px;
}
.footer p {
    width: 71%;
    margin-left: 17%;
    line-height: 2.0;
}
.footer-form {
    display: block;
}
.footer-form1 {
    padding: 30px;
    margin-left: 17%;
}
.footer-form2 {
    padding: 30px;
    margin-left: 17%;
}
.footer-form3 {
    padding: 30px;
    margin-left: 17%;
}
.footer-form4 {
    display: block;
}
.footer-form4 a {
    color: black;
    margin-left: 17px;
}
.footer-ending{
  padding: 10px;
 margin-left: 17px; 
}
    .footer p {
        width: 80%;
        margin-left: 8%;
        line-height: 2;
    }
}

@media (min-width:375) and (max-width:425) {
  
}