.header{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
/* ul{
  gap: 50px;
} */
.header1{
  gap: 40px;
  display: flex;
}
.header-middle{
  display: flex;
  justify-content: center;
}
.header-image{
  
}